#add-icon{
    width: 50px;
    height: auto;
}
.filter{
    bstudent-bottom: 0.5px solid #ccc
}
.filter-button{
    margin-bottom: 20px;
    
}
.add-new{
    margin-top:20px;
    margin-bottom:20px
}
h1{
    color: #000;
}
.students-filter{
    margin-top:30px;
    margin-bottom:10px;
 
  
}
#students-title{
    border-bottom: 0.5px solid #ccc;
    width: 100%
    
}
#students-title-text{
    color:#369;
}
td{
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}