<div id="add-student-dialog">
<h2 mat-dialog-title>Add student</h2>


<mat-dialog-content [formGroup]="form" id="add-student-content">

    <mat-form-field>

        <input matInput placeholder="Student Id" formControlName="studentId">

    </mat-form-field>
    <mat-form-field>

        <input matInput placeholder="Fullname" formControlName="fullName">

    </mat-form-field>
    <br>
    <mat-form-field>

        <input matInput [matDatepicker]="myDatepicker" formControlName="dateOfBirth" placeholder="Date of birth">

        <mat-datepicker-toggle matSuffix [for]="myDatepicker">

        </mat-datepicker-toggle>

        <mat-datepicker #myDatepicker></mat-datepicker>

    </mat-form-field>
   
</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button" (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary" (click)="save()">
        Save
    </button>

</mat-dialog-actions>
</div>