.mat-form-field{
    width: 500px;    
    margin-left:15%;
}
.mat-dialog-content {
    height: 500px;
    margin-bottom: 40px;
}
#add-student-content{
    height: fit-content;
}
.mat-dialog-container{
    height: fit-content;
}