<div class="container">
  <div id="query-form">

    <div class="row">

      <div class="col align-self-center" id="students-title">
        <h1 id="title-text">Look up students information from EOS</h1>
      </div>

    </div>
    <div class="row">
      <div class="col align-self-center">
        <form #lookupform="ngForm" (ngSubmit)="onClickSubmit(lookupform.value)">
          <div class="form-row">
            <div id="std-id" class="form-group col-md-6">
              <label>Student Id</label>
              <input type="number" class="form-control" name="id" placeholder="id" ngModel>
            </div>

          </div>

          <div class="form-row">

            <div class="form-group col-md-4">
              <label>Lookup mode</label>
              <select class="form-control" name="mode" [(ngModel)]='nrSelect' (change)="onChange($event.target.value)">

                <option value="0" selected>Only studentId</option>
                <option value="1">Tx hash</option>
              </select>
            </div>

          </div>
          <div id="search-by-hash" style="display: none;">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Transaction hash</label>
                <input type="text " class="form-control" name="txHash" placeholder="hash" ngModel>
              </div>

            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Block number</label>
                <input type="number" class="form-control" name="blockNumber" placeholder="block number" ngModel>
              </div>

            </div>
          </div>
          <button type="submit" class="btn btn-primary">Look up</button>
        </form>
      </div>
    </div>
    <div id="result-form">
      <div class="row">

        <div class="col align-self-center">
          <h1>Result</h1>
        </div>

      </div>
      <div class="row">
        <div class="col align-self-center">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Student Id</label>
                <input type="text" class="form-control" value="{{lookupResponse.studentId}}" readonly>
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Exam code</label>
                <input type="text" class="form-control" value="{{lookupResponse.examCode}}" readonly>
              </div>

            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Subject code</label>
                <input type="text" class="form-control" value="{{lookupResponse.subjectCode}}" readonly>
              </div>

            </div>
            <!-- <div class="form-row">
              <div class="form-group col-md-6">
                <label>Encrypted answer</label>
                <input type="text" class="form-control" value="{{lookupResponse.encryptedAnswer}}" readonly>
                <br>
              
              </div>

            </div> -->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Encrypt answer</label>
                <input type="text" class="form-control" value={{lookupResponse.encryptedAnswer}} readonly>
                <br>
                <button (click)="openDialog()">Decrypt</button>
              </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Timestamp</label>
                  <input type="text" class="form-control" value="{{lookupResponse.timeStamp}}" readonly>
                </div>
  
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>