<div id="decrypt-dialog">
  <h2 mat-dialog-title>Decrypt answer</h2>


  <mat-dialog-content [formGroup]="form" id="decrypt-content">
    <mat-form-field class="w-full">

      <input readonly matInput type="text" placeholder="Enter encrypted message" formControlName="encryptedAnswer">

    </mat-form-field>
    <br>
    <mat-form-field class="w-full">

      <input matInput type="text" placeholder="Enter your private key" formControlName="privateKey">

    </mat-form-field>
    <br>
    <label>Answer is: </label>
    <br>
    <input  class="w-full" readonly id="result" type="text" value={{result}}>



  </mat-dialog-content>

  <mat-dialog-actions>

    <button class="mat-raised-button" (click)="close()">
      Close
    </button>

    <button class="mat-raised-button mat-primary" (click)="save()">
      Save
    </button>

  </mat-dialog-actions>
</div>